h2 Classes

== hl_code :javascript
  | class Vehicle {
      constructor(make) {
        this.make = make;
        private km = 0;
      }

      forward() {
        private(this).km += 1;
      }

      get km() {
        return private(this).km;
      }
    }
