h2 Inheritance

== hl_code :javascript
  | class Car extends Vehicle {
      constructor(make) {
        super(make);
        this.weels = 4;
      }

      static wheels() {
        return 4;
      }
    }
