h2 Promises

p Callback hell:
== hl_code :javascript
  |  function getPage(page) {
       getCachedPage(page,
         function(html) {
           putHtmlIntoDocument(html);
         },
         function() {
           // page not cached yet.

           getHtml('/slides/' + page,
             function(html) {
               putHtmlIntoDocument(html);
               cachePage(page, html,
                 function() {
                   console.debug('Page ' + page + ' saved.');
                 },
                 function(e) {
                   console.error(e);
                 });
               },
               function(e) {
                 // error when retrieving page.
                 console.error(e);
               });
         });
     }
